*{margin: 0px;
  padding: 0px;
 }
html{height: 3110px;}
body{
     width:100%;
     height: 100%; 
    background-color:white;}
         
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/**************header all style start **********/
header{width:100%;
    height:820px;
    background-color: #FFF4E7;
  }

nav{width:80%; 
    margin: auto;
    height:6%;
    padding-top: 20px;
    border: 1px solid rebeccapurple;
    padding-bottom:0px;}
 
nav>ol{display: flex;
      justify-content: space-between;}

nav>ol>li:first-child{   font-family: 'Work Sans', sans-serif;
                        list-style: none;
                        width:40%;
                        font-weight:bolder;
                        font-size:1.7rem;
                       }
                       nav>ol>li:first-child>a{text-decoration: none;
                                               color: black;}                       
nav>ol>li:last-child{ font-family:arial;
                        list-style: none;                    
                        width: 50%;
                        color:gray;
                        font-weight: 500;
                        display:flex;
                        align-items: center;
                        }

nav>ol>li:last-child>ul{display: flex;
                        justify-content:end;
                        width: 100%;
                        list-style-type:none;
                        gap:10%;
                        font-size:.8rem;
                        font-weight:500;}
                        nav>ol>li:last-child>ul>li>a{text-decoration: none;
                                                      color: rgb(84, 82, 82);}

/*header text and barnder parent*/
.headercontaner{width:80%;
                height:90%;
                margin: auto;
               display: flex;
               gap:2%;
                
               border:1px solid red;
                flex-direction: column;
                align-items: center;}
                                           

.headercontent{border: 1px solid green;
               height:30%;
               gap: 10%;
               display: flex;
               flex-direction: column;
               align-items: center;}

 .headercontent>.banertitle{ font-family: 'Work Sans', sans-serif;
                            font-size:2.6rem;
                            font-weight:bold;
                            line-height:50px;
                            letter-spacing:-1px;
                            width:90%;
                          text-align: center;}
.headercontent>.banerdesc{font-size:.67rem;
    font-family: 'Work Sans', sans-serif;
                        border: 1px skyblue dotted;
                        width:60%;
                         font-weight:100;
                         line-height:16px;
                         color:#727272;
                          text-align: center;}

.exploreMoreButton{font-size:14px;
                      width:130px;
                      height:43px;
                      border:none;
                      border-radius: 8px;
                      font-family: 'Work Sans', sans-serif;
                      font-weight: 500;
                      text-align: center;
                      background: #FF900E;
                      color: #FFF;
} 
/* baner img  */
.headerbaner{border: 1px solid blue;
    height:fit-content;
    width:100%;
    /* background-color: rgb(131, 107, 107);
    background:url(images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;  */

}
.headerbaner>img{height:100%;
                   width: 100%;}

/*#####################header all style end######################*/
main{
    display: flex;
     flex-direction: column;
      align-items: center;
      margin-top: 100px;
     border:dashed 1px green;
     } 
/******************Quick list of Features All Style start *********************/
.QuicklistFeaturesContaner{width:80%; 
                           margin: auto;
                           border:1px solid black;
                           display: flex;
                           gap:5%;
                           margin-bottom:90px;}
.QuickListAllimgContener{border:1px solid red;
                          width:50%;
                          padding-left:3%;
                          display:grid;
                         gap:3%;
                         grid-template-columns:repeat(2,1fr);
                         grid-template-rows:repeat(2,1fr);                 }
.QuickListAllimgContener img{width:100%;}
/*four img right text style under */
.QuickListTextContaner{border: 1px dotted blue;
                      font-family: 'Work Sans', sans-serif;
                      display:flex;
                      gap:3%;
                      width:40%;
                      justify-content: center;
                      align-items: start;
                      flex-direction:column;}   
.QuicktextTitle{font-size:2rem;
                color: #727272;}   
.QuicktextTitle>.featurecolor{color:#FF900E;}
.QuicktextDesc{color:#727272d0;
               font-weight:initial;
               line-height:16px;
               font-size:.69rem;
}                   
/*#####################Quick list of Features All style End ###########################*/
/************Features love & enjoy all styl start****************/
.Freaturesloveandenjoyandimage{ width:80%; 
                                margin: auto;
                                font-family: 'Work Sans', sans-serif;
                                display: flex;
                                position: relative;
                                gap: 10%;
                                border: 1px dotted red;
                               }
  /* Text area style                              */
.FeaturesyouText{width:40%;
                border: 1px solid red;
                display: flex;
                flex-direction: column;
                gap: 20px;    
            }

.FeatureYouTextTitle{font-size: 33px;
                     margin-top: 12px 0px;
                     padding-left: 12px;
                     color: #131313;
                     font-weight:900;
                     border-left:4px solid  #FF900E;}
.featuresdesc{font-size: 11px;
              line-height: 22px;
              font-weight: 100;
              color: #727272;
            }           
/* All box same style */
.featureallboxss{border:1px dotted red;
              }


.featureallbox{box-shadow:0px 0px 20px .5px rgba(128, 128, 128, 0.249);
               display: flex;
              flex-direction: column;
             gap:12px; 
             border-radius:8px;
             padding:0% 3% 3% 3%;
             margin-top:3%;
             padding-top:5%;
            }
.boxtitle{font-size:18px;
          font-weight:600;
          color:#131313;}
.boxdesc{color: #727272;
        font-size: 11px;
        font-weight: 400;
        line-height:20px;}
            

/*features big img style*/
.featuresyouImg{width:50%;
    border: 1px solid red;}  
.featuresyouImg>img{width: 100% ;}                  
.yearButt{  
    position: absolute;
    bottom:0px;
    left:43%;
    width:222px;
    height:120px;
    border:none;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    background: #FF900E;
    color: #FFF;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.yearButt>b{font-size:40px;
    font-weight:700;
     line-height:45px;}
.yearButt>span{font-size: 15px;
                font-weight: 500;
              }    
/*################Features love & enjoy all styl start########################*/



/******************Some Facts all Style Start **************/
.SomeFactsContener{border: 1px solid red;
    width:80%;
   margin: auto;
   display: flex;
  flex-direction: column;
  gap:35px;
  margin-bottom:70px;
  margin-top:70px;
  }
/* somefacts style  */
.SomeFactstext{border: 1px solid black;
    font-family: 'Work Sans', sans-serif;
                text-align:left;
                display:flex;
                flex-direction: column;
                gap:5px;
               width:60%;
            }
.SomeFactstitle{font-size:25px;
    font-weight:900;    

 }
.SomeFactsDesc{line-height: 16px;
    font-family:Arial;
    color:#727272d0;
               font-weight:initial;
               line-height:16px;
               font-size:.67rem;
}
/* someFactboxs */
.SomeFactallBoxs{border: 1px solid red;
                    width: 100%;
                    font-family: 'Work Sans', sans-serif;

display: flex;
justify-content: space-around;}
.boxFact{border: 1px #FFAC4C solid;
    font-family: 'Work Sans', sans-serif;
         border-radius:8px;
               width: 124px;
               height: 119px;
                padding:1%;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;}
                       
               /* animation Css all start */
               .boxFact:hover{transform: scale(.8)  rotate(360deg);
                               background-color: #FF900E;
                               border:0px dotted black;
                             }
                   .boxFact{transition: transform 1s, background-color 3s, border 4s;
                   }     
               /* animation Css all End */

.boxFact>img{width:22%;}               
.boxFact>b{color:#273138;
    font-size:27px;
    font-weight: 600;
}    
.boxFact>p{color:#727272;
    font-size: 14px;
    font-weight:600;
}    
/*###############Some Facts all Style End#######################*/

/*************News letter all html start *******************/
.newsLetterContaner{border: 1px solid red;
                    background-color:#FFF4E7;
                    height:70px;
                    border-radius:5px;
                    width:80%;
                    margin: auto;
                    display:flex;
                    align-items:center;
                    justify-content: space-evenly;
                    margin-bottom:100px;
                }
/*News Letter*/
.newsLetterText{border:1px solid rgb(0, 0, 0);
    font-family: 'Work Sans', sans-serif;
width: 50%;
display: flex;
    flex-direction: column;
     gap:4px;}
.newsTitle{font-size:16px;
    color:#131313c6;
          }
.newDesc{
         color:#414040;
               font-weight:initial;
               line-height:12px;
               font-size:.69rem;
}
/*MewsLetterInput*/
.MewsLetterInput{width: 30%;
                  border: 1px solid rgb(10, 6, 6);}
.MewsLetterInput>input{padding:5px 10px;
                       width: 92%;}
.MewsLetterInput>input::placeholder{font-size:14px;
                       color:#727272;
}
/*emailSendButton*/
.emailSendButton{border:1px solid black;
                 width:10%;
               }
.emailSendButton>button>i{font-size:25px;}
/*##############News letter all html End#######################*/

/**************Our Spon Spors Start hmlt********************/
.ourSponsporsContaner{
    /* border:1px solid rebeccapurple; */
                           width:80%;
                           margin: auto;    
                           display: flex;
                           flex-direction: column;
                           align-items: center; 
                           gap:40px;                 
                           margin-bottom:100px;
}
/**ourspanlltext**/
.oursponalltext{
                border: 1px solid black;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 13px;
                width: 60%;
               }
.oursponaltitle{color:#131313;
    font-family: 'Work Sans', sans-serif;
                font-size:30px;
                font-weight:900;}
.oursponadesc{font-size: 11px;
    font-family: 'Work Sans', sans-serif;
    color:  #3f3e3e;
    line-height: 15px;
    font-weight: 400;
}                
/**oursponCompaneysbox**/
.oursponCompaneys{
                  border:1px solid orange; 
                 width:100%;
                  display: flex;                 
                  justify-content:space-between;
                  align-items: center;
                  height: 30px;
                  }
.oursponCompaneys img{width:15%; }                  
/*################Our Spon Spors End hmlt##################*/
/******************all footer style start***********/
footer{font-family: 'Work Sans', sans-serif;

    /* border:1px solid red; */
       width:80%;
       background-color: #FFF4E7;
       border-radius:5px;  
       height:2%;
       font-weight: 400;
       display: flex;
       align-items: center;
       justify-content: center;
       margin: auto;
       margin-bottom: 20px;}
footer>span{color: #424242;
    font-size:14px;
    font-weight: 100;
    /* border: 1px saddlebrown solid; */
}       
       
/*#################all footer style end####################*/




/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@all Media Quarey start@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
 @media screen and (min-width:275px) and (max-width:412px) {
    html{height:fit-content;}

    header{width:100%;
        height:450px;
        background-color: #FFF4E7;
        margin-bottom:35px;
      }
    
nav{width:97%; 
    margin: auto;
    height:2%;
    padding-top:10px;
    border: 1px solid;
}
 
nav>ol{display: flex;
      justify-content: space-between;}

nav>ol>li:first-child{ 
                        list-style: none;
                        width:30%;
                        font-weight:bolder;
                        font-size:12px;}
nav>ol>li:last-child{
                        list-style: none;                    
                        width: 60%;
                        color: #62605E;
                        display:flex;
                        align-items: center;
                        }

nav>ol>li:last-child>ul{display: flex;
                        justify-content:end;
                        width: 100%;
                        list-style-type:none;
                        gap:8%;
                        font-size:.6rem;
                        font-weight:100;}

/*header text and barnder parent*/
.headercontaner{width:97%;
    border: 1px solid red;
                height:90%;
                margin: auto;
               display: flex;
               gap: 0px;
                flex-direction: column;
                align-items: center;}
                                           

.headercontent{border: 1px solid red;
               width:100%;
               height:37%;
               gap: 10%;
               display: flex;
               flex-direction: column;
               align-items: center;}

 .headercontent>.banertitle{font-size:1rem;
                            font-weight:bold;
                            line-height:20px;
                            letter-spacing:-1px;
                            width:90%;
                          text-align: center;}
.headercontent>.banerdesc{font-size:.5rem;
                          width:90%;
                         font-weight:100;
                         line-height:12px;
                         color:#727272;
                          text-align: center;}

.exploreMoreButton{font-size:9px;
                      width:75px;
                      height:25px;
                      border:none;
                      border-radius: 8px;
                      font-weight: 500;
                      text-align: center;
                      background: #FF900E;
                      color: #FFF;
} 
/* baner img  */
.headerbaner{
    height:63%;
    width:100%;
    background-color: rgb(131, 107, 107);
    background:url(images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
}
/* main all sstyle  */
main{
    display: flex;
     flex-direction: column;
      align-items: center;
      margin-top: 15px;
     border:dashed 1px green;
     } 
/*@@@@@@@@@@@@@@@@@@@@@@Quick list of Features All Style start@@@@@@@@@@@@@@*/

.QuicklistFeaturesContaner{width:97%; 
    margin: auto;
    border:1px solid black;
    display: flex;
    flex-direction: column-reverse;
    gap:8px;
    margin-bottom:45px;}
.QuickListAllimgContener{border:1px solid red;
   width:100%;
   display:grid;
  gap:2%;
                            padding-left:0%;

  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);                 }
  /*four img right text style under */
.QuickListAllimgContener img{width:100%;
                             height: 100%;}
.QuickListTextContaner{border: 1px dotted blue;
    padding:0 0 0 10px ;
display:flex;
width:97%;
gap:10px;
justify-content: center;
align-items: start;
flex-direction:column;}   
.QuicktextTitle{font-size:1.7rem;
color: #727272;}   
.QuicktextTitle>.featurecolor{color:#FF900E;}
.QuicktextDesc{color:#727272;
font-weight:100;
line-height:12px;
font-size:.5rem;
}              
/*@@@@@@@@@@@@@@@Quick list of Features All Style end @@@@@@@@@@@'@@@@*/
/*@@@@@@@@@@@@@@@Features love & enjoy all styl start@@@@@@@@@@@@@@*/
.Freaturesloveandenjoyandimage{ width:97%; 
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:15px;
    border: 3px dotted red;
   }
/* Text area style                              */
.FeaturesyouText{width:100%;
border: 1px solid blue;
display: flex;
flex-direction: column;
gap:15px;    
}

.FeatureYouTextTitle{font-size:12px;
margin-top: 8px 0px;
padding-left:5px;
font-weight:700;
font-size: 16px;
color:#131313;
border-left:4px solid  #FF900E;}
.featuresdesc{font-size:8px;
line-height: 12px;
padding-left: 9px;
font-weight: 400;
color: #727272;
}           
/* All box same style */
.featureallboxss{border:1px dotted rgb(64, 0, 255);
                 margin-top:10px;
}


.featureallbox{box-shadow:0px 0px 20px .5px rgba(128, 128, 128, 0.249);
display: flex;
flex-direction: column;
gap:12px; 
border-radius:8px;
padding:0% 3% 3% 3%;
margin-top:3%;
padding-top:5%;
}
.boxtitle{font-size:13px;
font-weight:600;
color:#131313;}
.boxdesc{color: #727272;
font-size:8px;
font-weight:100;
line-height:12px;} 

/*features big img style*/
.featuresyouImg{width:100%;
    height:fit-content;
    display: flex;
    border: 1px solid red;
    margin-top:20px;}  
    .featuresyouImg>img{width:100%;}       
    .yearbutt10{
                display: flex;
                justify-content:flex-end;
                 position: absolute;
                 bottom:0;
                 right: 122px;
                 height:60px;}
.yearButt{  
    width:123px;
    height:60px;
    border:none;
    border-radius:5px;
    background: #FF900E;
    color: #FFF;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top:200px ;
   
}
.yearButt>b{font-size:20px;
     line-height:25px;
     font-weight:bold;}
.yearButt>span{font-size: 10px;
                font-weight: 500;}    


/*@@@@@@@@@@@@@@@Some Facts all Style Start **************/
.SomeFactsContener{border: 1px solid red;
    width:97%;
   margin: auto;
   display: flex;
  flex-direction: column;
  gap:20px;
  margin-top:40px;        margin-bottom:40px;

}
/* somefacts style  */
.SomeFactstext{border: 1px solid black;
                text-align:center;
                display: flex;
                flex-direction: column;
                gap:6px;
               width:100%;}
.SomeFactstitle{font-size:20px;
    font-weight: 700;
 }
.SomeFactsDesc{line-height: 14px;
    font-size:8px;
    line-height: 12px;
    font-weight:600;
    font-style:normal;
    color: #2e2d2da3;
}
/* someFactboxs */
.SomeFactallBoxs{border: 1px solid red;
    width: 100%;
                    height: 85px;
display: flex;
justify-content: space-around;}
.boxFact{border: 1px #FFAC4C solid;
         border-radius:8px;
               width:20%;
               height:75%;
                padding:1%;
                display: flex;
                flex-direction: column;
                align-items: center;
               justify-content: center;}
               
               /* animation Css all start */
               .boxFact:hover{transform: scale(.8)  rotate(360deg);
                               background-color: #FF900E;
                               border:0px dotted black;
                             }
                   .boxFact{transition: transform 1s, background-color 3s, border 4s;
                   }     
               /* animation Css all End */
               
               .boxFact>img{width:22%;}               
               .boxFact>b{color:#273138;
    font-size:17px;
    font-weight: 600;
}    
.boxFact>p{color:#727272;
    font-size:8px;
    text-align: center;
    font-weight:600;
}    
/*@@@@@@@@@@@@@@@Some Facts all Style End#######################*/

/*@@@@@@@@@@@@@@@News letter all html start *******************/
.newsLetterContaner{border: 1px solid red;
    height:45px;
    border-radius:5px;
    width:96%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom:40px;

}
/*News Letter*/
.newsLetterText{border:1px solid rgb(0, 0, 0);
    width: 48%;}
    .newsTitle{font-size:12px;
        color:#131313;
    }
    .newDesc{font-size:7px;
    line-height:7px;
    text-align:left;
color:#232222;
}
/*MewsLetterInput*/
.MewsLetterInput{width:40%;
                 border: none;}
.MewsLetterInput>input{padding:2px 5px;
       width:80%;}
.MewsLetterInput>input::placeholder{font-size:8px;
      font-weight:400;
       color:#868585;
}
/*emailSendButton*/
.emailSendButton{border:1px solid black;
    display: flex;
    align-items: center;
    justify-content:flex-end;
 width:10%;

}
.emailSendButton>button>i{font-size:18px;}
/*@@@@@@@@@@@@@@@News letter all html End#######################*/

/*@@@@@@@@@@@@@@@Our Spon Spors Start hmlt********************/
.ourSponsporsContaner{
    border:1px solid rebeccapurple;
                           width:97%;
                           margin: auto;    
                           display: flex;
                           flex-direction: column;
                           align-items: center; 
                           gap:20px;                 
                           margin-bottom:40px;
}
/**ourspanlltext**/
.oursponalltext{
                border: 1px solid black;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:10px;
                width:80%;
                height:fit-content;
               }
.oursponaltitle{color:#131313;
                font-size:20px;}
.oursponadesc{font-size:8px;
    color:#504e4e;
    line-height:15px;
    letter-spacing:.3px;
    line-height: 10px;
    font-weight:500;
}                
/**oursponCompaneysbox**/
.oursponCompaneys{
                  border:1px solid orange; 
                 width:100%;
                  display: flex;                 
                  justify-content:space-between;
                  align-items: center;
                  height: 30px;
                  }
.oursponCompaneys img{width:15%; }                  
/*@@@@@@@@@@@@@@@Our Spon Spors End hmlt##################*/

/*@@@@@@@@@@@@@@@all footer style start***********/
footer{
    border:1px solid red;
       width:97%;
       height:60px;
       background-color: #FFF4E7;
       border-radius:5px;  
       display: flex;
       align-items: center;
       justify-content: center;
       margin: auto;
       margin-bottom:20px;}
footer>span{color: #424242;
    font-family: 'Work Sans', sans-serif;
    letter-spacing:.5px;
    word-spacing:.5px;
    font-size:9px;
    font-weight:100;
    border: 1px saddlebrown solid;
}       
       
/*@@@@@@@@@@@@@@@all footer style end####################*/

 }

/*@@@@@@@@@@@@@@@all Media Quarey End***************/
